body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: yellow;
    font-family: cursive;
}
.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    margin: 10px;
    border-radius: 10px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 25px;
    border: solid 5px green;
    text-align: center;
}
.input::placeholder{
    color: lightgray;
    font-family: cursive;
    border: none;
}
.btn{
    border: none;
    color: white;
    background-color: green;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 10px 0.9;
    margin: 20px 0px;
    border-radius: 5px;
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.8);
}
.score{
    color: green;
    text-align: right;
}